body{
    background-color: #FFFDE1;
    font-size: 15px;
    margin:0;
}

h1{
    font-family: Garamond, serif;
    font-style: italic;
    font-variant: small-caps;
    font-size: 3em;
    text-align: center;
    color: #980404;
    letter-spacing: 4px;
}

h2{
    font-family: Garamond, serif;
    font-style: italic;
    font-size: 2em;
    margin-left: 10%;
    color: #980404;
}

h3{
    font-family: Garamond, serif;
    font-size: 1.3em;
    color: #980404;
    margin-bottom:5px;
    margin-top: 5px;
    display:inline-block;
}

.text{
    font-family: Garamond, serif;
    font-size: 1.1em;
    margin-bottom: 10px;
    padding: 5px;
    width:60%;
}

.image{
    max-width: 50px;
    max-height: 150px;
    border: 2px solid black;
    flex:2;
}

.main{
    background-color: #F4EAD5;
}

div.container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:60%;
    padding:15px;
    margin: auto;
    border-radius: 50px;
}

.container dl{
    background-color: #93BD57;
    flex-basis: 35%;
    margin: 10px;
    padding: 20px;
    width: 20%;
    border: 2px solid green;
    border-radius: 40px;
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.container dl:hover{
    background-color: #78aa32;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.container dd{
    margin-left: 20px;
    flex:0;
    width:80%;
    display:flex;
    align-items: center;
}

